@import "tailwindcss";
@import "tw-animate-css";

:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --color-* */
/* --font-* */
/* --text-* */
/* --font-weight-* */
/* --tracking-* */
/* --leading-* */
/* --breakpoint-* */
/* --container-* */
/* --spacing-* */
/* --radius-* */
/* --shadow-* */
/* --inset-shadow-* */
/* --drop-shadow-* */
/* --blur-* */
/* --perspective-* */
/* --aspect-* */
/* --ease-* */
/* --animate-* */

@theme {
  --color-dice-dot: black;
  --color-dice: whitesmoke;
  --color-dice-border: gray;
}

@layer base {
  * {
    @apply box-border;
  }

  #root {
    width: 100vw;
    height: 100vh;
  }
}

/* ========================= */

@keyframes cell-animation {
  0% {
    scale: 1;
  }
  50% {
    scale: 2;
  }
  100% {
    scale: 1;
  }
}

@utility cell-placeholder {
  @apply size-4 cursor-pointer border-2;
  @apply hover:bg-black;

  animation-name: cell-animation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

/* ========================= */

@utility transform-style-3d {
  transform-style: preserve-3d;
}

@utility backface-hidden {
  backface-visibility: hidden;
}

@utility perspective-1000 {
  perspective: 1000px;
}
